/*リセットCSS*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* キャンバスラッパーに関するスタイル */
#descCanvas-container {
  width: 100%;
  height: 100%;
  canvas {
    user-select: none;
    -webkit-user-select: none;
  }
}
