@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

/*リセットCSS*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*ヘッダー*/
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 24px;
}

.header-title {
  font-size: 32px;
}

.navigation {
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 4px 8px;
}
.navigation__item {
  color: white;
}

.navigation__link {
  font-size: 18px;
  color: white;
}

/* キャンバスラッパーに関するスタイル */
#canvas-container {
  width: 100%;
  height: 100%;
  canvas {
    user-select: none;
    pointer-events: none;
    -webkit-user-select: none;
  }
}